services:
  attacker:
    build:
      context: .
      network: host
    container_name: flagWarehouse-client
    network_mode: host
    restart: unless-stopped
    networks:
      - server_flagWarehouse-network
    volumes:
      - ./exploits:/flagWarehouse/client/exploits:rw
    environment:
      - URL=http://server:5555
      - API_TOKEN=p1cMWXidqD0Hud7Uf6DV
      - USER=CC24_TorVergata
