services:
  server:
    container_name: flagWarehouse-server
    build: 
      context: .
    restart: unless-stopped
    networks:
      - flagWarehouse-network
    ports:
      - 5555:5555
    volumes:
      - ./config.py:/server/config.py:ro
      - ./instance:/server/instance/

networks:
  flagWarehouse-network:
      driver: bridge
